<p>Hello {{email}},</p>
<p>This is your today weather forcast information</p>
<p>Location: {{location}}</p>
<p>Date: {{date}}</p>
<p>Temperature: {{temp}}&deg;C</p>
<p>Wind speed: {{wind}} M/S</p>
<p>Humidity: {{humidity}}%</p>
<p>Condition: {{condition}}</p>